
html, 
body {
  height: 100%;
  margin: 0
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%
}

.container .row {
  border: 1px dotted grey;
  flex: 0 1 30px
}

.container .row.header {
  flex: 0 1 auto
}

#ourGame {
  flex: 1 1 auto
}

.container .row.footer {
    flex: 0 1 40px;
}

