<!DOCTYPE html>
<!--
    Hello and welcome!
    
    Thanks for taking a look under the hood of this game.
    
    Please feel free to look around and make modifications, 
      or submit a branch on github:
      https://github.com/polymaze/responsive-web-game
-->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Responsive Web Game</title>
        <link rel="stylesheet" href="css/main.css" type="text/css"/>
    </head>
    
    <body>
        <h1>Responsive Web Game</h1>
        <p class="tagline"></p>
        
        <!-- load scripts -->
        <script src="js/main.js"></script>
        <script src="js/ourGameLogic.js"></script>
    </body>
</html>