<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <script language="javascript" src="javascripts/jquery.hotkeys.js" type="text/javascript"></script>
  <script language="javascript" src="javascripts/key_status.js" type="text/javascript"></script>
  <script language="javascript" src="javascripts/util.js" type="text/javascript"></script>
  <script language="javascript" src="javascripts/sprite.js" type="text/javascript"></script>
  <script language="javascript" src="javascripts/sound.js" type="text/javascript"></script>
  <script language="javascript" src="javascripts/ourGame.js" type="text/javascript"></script>
  <div>
    <h1>Responsive Web Game</h1>
    <a href="https://github.com/polymaze/responsive-web-game.git">https://github.com/polymaze/responsive-web-game.git</a>
  </div>
</body>
</html>