<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  
  <div class="container">
  
    <!-- <canvas id='ourGame' width="100px" height="100px">This game requires Canvas support. Please install 
    <a href="http://www.google.com/chrome?hl=fi" style="color:white;">Google Chrome</a> (it's free!) to play this game.</canvas> -->
    
    <!-- <div>
      <a href="https://github.com/polymaze/responsive-web-game.git">https://github.com/polymaze/responsive-web-game.git</a>
    </div> -->
  
  </div><!-- .container -->
  
  <script language="javascript" src="javascripts/ourGame.js" type="text/javascript"></script>
  
</body>
</html>