<!DOCTYPE html>
<!--
  Hello and welcome!

  Thanks for taking a look under the hood of this game.

  Please feel free to look around and make modifications, 
    or submit a branch on github:
    https://github.com/polymaze/responsive-web-game
    
  /* Nightly Build */
  https://dry-crag-41809.herokuapp.com/
  https://github.com/polymaze/responsive-web-game/tree/nightly
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Responsive Web Game</title>
    <link rel="stylesheet" href="css/resetBoilerplate.css" type="text/css"/>
    <link rel="stylesheet" href="css/main.css" type="text/css"/>
    <link rel="stylesheet" href="css/ourGameStyle.css" type="text/css"/>
  </head>

  <body>
    <div class="container main">
      <header class="main row">
          <h1 class="logo" role="main">Responsive Web Game</h1>
          <p class="tagline"></p>
      </header><!-- .main .row -->
      
      <section id="ourGame" class="row">
        <!-- Provide a fallback -->
        <!-- Add our game here -->
        
      </section><!-- #ourGame .row -->
      
      <section class="scoreboard" class="row">
        <h2>Scoreboard</h2>
        <p>Load scores here...</p>
      </section><!-- #scoreboard .row -->
      
      <footer class="main row">
        <p class="closing"></p>
      </footer><!-- .main .row -->

      <!-- load scripts -->
      <script src="js/main.js"></script>
      <script src="js/ourGameLogic.js"></script>
    </div><!-- .container .main -->
  </body>
</html>