<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  
  <div class="container">
    <div id="ourGame" />
    <h1>Responsive Web Game</h1>
    <ul>
      <!-- <li><button onclick="createCanvas()">New Game</button></li> -->
      <li><a href="https://github.com/polymaze/responsive-web-game.git">Fork</a></li>
    </ul>
  </div><!-- .container .main -->
  
  <script language="javascript" src="javascripts/ourGame.js" type="text/javascript"></script>
</body>
</html>