<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <canvas id='c'>This game requires Canvas support. Please install <a href="http://www.google.com/chrome?hl=fi" style="color:white;">Google Chrome</a> (it's free!) to play this game.</canvas>
  
  <div>
    Project files
    <a href="https://github.com/polymaze/responsive-web-game.git">https://github.com/polymaze/responsive-web-game.git</a>
  </div>
  
  <script src="js/game.js"></script>
</body>
</html>