
html, 
body {
  background-color: black;
  height: 100%;
  margin: 0;
}

/* Flex Flow for layout */
.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.row {
  /* background-color: blue; */
  flex: 1 1 auto;
}

.main {
  /* background-color: gray; */
  flex: 1 1 auto;
}

.container header {
  /* background-color: black; */
  color: white;
  flex: 0 1 auto;
  padding-left: 2%;
}










  
  
  
  
  
  
  